/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE STYLES */

body,
html {
  overflow-x: hidden;
}

html {
  --accent-color: #15a0f0;
  --accent-color-dark: #137ab6;
}

body {
  font-family: "Poppins", sans-serif;
  color: #292c33;
  background-color: #eeeff3;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  border: none;
  font: inherit;
}

.bg {
  position: absolute;
  z-index: -999;
}

.header,
.main,
.footer {
  /* border: 1px solid red; */
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* HEADER */

.header {
  animation: fade-in 400ms;
  display: flex;
  justify-content: space-between;
  padding: 24px 16px;
}

.logo {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  transition: all 500ms;
}

.logo:hover {
  transform: translateY(-5px);
}

.links {
  display: flex;
  column-gap: 40px;
}

.link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 400ms;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.link--login {
  position: relative;
  padding-bottom: 5px;
}

.link--login::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: rgba(219, 206, 206, 0.337);
  transition: all 0.4s;
}

.link--login:hover::after {
  width: 100%;
  left: 0;
}

.link--btn {
  color: white;
  background-color: var(--accent-color);
  padding: 10px 16px;
  border-radius: 3px;
}

.link--btn:hover {
  background-color: var(--accent-color-dark);
}

/* MAIN */

.main {
  animation: fade-in 400ms 0.1s backwards;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 24px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.288);
  overflow: hidden;
}

/* MAIN > INTRO SECTION */

.intro {
  display: flex;
}

.search {
  background-color: #f3f5fa;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.first-heading {
  font-size: 30px;
  font-weight: 500;
  max-width: 350px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.emphasis {
  text-decoration: underline;
  font-style: italic;
  font-weight: 700;
}

.form {
  width: 350px;
  position: relative;
}

.input {
  color: black;
  /* outline: none; */
  height: 50px;
  width: 100%;
  font-size: 17px;
  margin-bottom: 12px;
  padding-left: 38px;
  border-radius: 2px;
  transition: all 400ms;
}

.input-icon {
  color: rgb(192, 188, 192);
  position: absolute;
  font-size: 20px;
  top: 18px;
  left: 8px;
}

.input-icon:nth-of-type(2) {
  top: 78px;
  left: 8px;
}

.btn {
  border-radius: 2px;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 400ms;
}

.btn:hover {
  background-color: var(--accent-color-dark);
}

.photos {
  display: flex;
}

.photos img {
  width: 270px;
}

/* CREDENTIALS */

.creds {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 35px 0px;
  border-bottom: 1px solid #dfe1e7;
}

.seen {
  font-size: 20px;
  font-weight: 500;
  color: #9a9c9ea6;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
}

.seen::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: rgba(95, 94, 97, 0.233);
  transition: all 0.4s;
}

.seen:hover::after {
  width: 100%;
  left: 0;
}

.creds > img {
  position: relative;
  padding-bottom: 5px;
  transition: all 400ms;
}

.creds > img:hover {
  filter: brightness(10%);
}

/* 'How' Section */

.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 60px;
}

.second-heading {
  position: relative;
  font-size: 32px;
  font-weight: 500;
  color: #000000;
  text-transform: capitalize;
  transition: all 300ms;
}

.second-heading:hover {
  color: var(--accent-color-dark);
  cursor: default;
}

.second-heading::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  height: 3px;
  width: 60px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.steps {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 80px 0px;
}

.step {
  max-width: 220px;
  text-align: center;
}

.step-icon {
  width: 55px;
  height: 55px;
  background-color: black;
  border-radius: 5000px;
  color: white;
  line-height: 55px !important;
  font-size: 18px;
  margin-bottom: 20px;
}

.step:nth-child(1) .step-icon {
  background-color: #fdf6de;
  color: #f5ca36;
}

.step:nth-child(2) .step-icon {
  background-color: #ffdeec;
  color: #da196a;
}

.step:nth-child(3) .step-icon {
  background-color: #e9e5ff;
  color: #4d31e4;
}

.third-heading {
  font-size: 23px;
  color: #3d4048;
  font-weight: 500;
  margin-bottom: 10px;
}

.text {
  color: #74777d;
  font-size: 18px;
}

.more {
  color: var(--accent-color);
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--accent-color);
  transition: all 0.2s;
}

.more:hover {
  color: var(--accent-color-dark);
}

.more-icon {
  font-size: 12px;
  transition: all 0.2s;
}

.more:hover .more-icon {
  transform: translateX(3px);
}

/* FOOTER */

.footer {
  color: rgb(75, 72, 72);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  padding-bottom: 24px;
}

.copyright {
  font-size: 14px;
}

.legal-list {
  display: flex;
  column-gap: 12px;
}

.legal-link {
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: underline;
}

/* MEDIA QUERIES */

@media (max-width: 1020px) {
  .header,
  .main,
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }

  .photos > img:first-child {
    display: none;
  }
}

@media (max-width: 900px) {
  .search {
    padding: 40px 0px 30px;
  }

  .photos > img:not(first-child) {
    display: none;
  }

  .creds {
    justify-content: space-evenly;
  }

  .creds > img:last-child {
    display: none;
  }

  .steps {
    padding: 50px 0px;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .main {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.288);
  }

  .steps {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 470px) {
  .creds > img:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 430px) {
  .footer {
    flex-direction: column;
    row-gap: 15px;
  }
}

@media (max-width: 400px) {
  .header {
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
    margin-bottom: 10px;
  }

  body > img {
    height: 100%;
  }

  .creds > img:nth-of-type(2) {
    display: none;
  }

  .first-heading {
    max-width: initial;
    padding: 0 10px;
  }

  .form {
    width: 100%;
  }

  .copyright {
    text-align: center;
  }
}
