/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE STYLES */

body, html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: #292C33;
  background-color: #EEEFF3;
}

.bg {
  position: absolute;
  z-index: -999;
}